In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('D:\\Documentos\\UNIR\\Captura y almacenamiento de datos\\Actividad 1\\Actividad1-MCAD_UNIR\\data_act_01.csv', engine= 'python')     #Importar el dataset                               #Conocer las columnas

In [6]:
df.head() #Imprime los primeros resultados

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [8]:

df.duplicated().sum()                      #Duplicados del dataset
df['CrimeId'].duplicated().sum()        #Duplicados de la serie

4

In [9]:
#Filtro los duplicados y los transformo a una lista.
duplicates = df[df['CrimeId'].duplicated(keep=False)]['CrimeId'].tolist()

In [10]:
duplicates[:10] #Segun el conteo anterior hay 4 registros duplicados, por lo que si imprimo la lista puedo ver cuales son.

[160913455, 160913455, 160913455, 160950496, 160950496, 160950496]

In [11]:
set_duplicates = set(duplicates) #se crea un set de la lista de duplicados

In [12]:
for r in set_duplicates:
    dup = df[df['CrimeId'] == r]
    df.loc[dup.iloc[1,:].name, 'CrimeId'] = df.loc[dup.iloc[1,:].name]['CrimeId'] + 1

In [13]:
df.duplicated().sum() #Verificamos que no haya ningun registro duplicado

0

In [14]:
df.isnull().sum() #Verificar nulos y contarlos.

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [15]:
df.dtypes

CrimeId                    int64
OriginalCrimeTypeName     object
OffenseDate               object
CallTime                  object
CallDateTime              object
Disposition               object
Address                   object
City                      object
State                     object
AgencyId                  object
Range                    float64
AddressType               object
dtype: object

In [26]:
df['CallDateTime'].astype('datetime64[ns, US/Eastern]')

0       2016-03-30 18:42:00-04:00
1       2016-03-31 15:31:00-04:00
2       2016-03-31 16:49:00-04:00
3       2016-03-31 17:38:00-04:00
4       2016-03-31 17:42:00-04:00
                   ...
10046   2016-04-05 23:38:00-04:00
10047   2016-04-05 23:43:00-04:00
10048   2016-04-05 23:48:00-04:00
10049   2016-04-05 23:48:00-04:00
10050   2016-04-05 23:54:00-04:00
Name: CallDateTime, Length: 10051, dtype: datetime64[ns, US/Eastern]